/** {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  box-sizing: border-box;*/
/*}*/
.App {
  text-align: center;
  }
.App h1{
  font-family: cursive;
  font-weight: bolder;
  font-size: 2.8em;
  color: #36846b;

}

body {
  background-image: url("https://7themes.su/_ph/28/200069184.jpg?1675028609");
  padding: 20px;

}

.squareStyle:active{
  transform: scale(0.97);
  transition: transform .2s;
}
